{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": true,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "57ce2c9d-2830-42cb-a2c6-1b65fc30c32c",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}